In [1]:
import os
import sys

import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import numpy as np
import pandas as pd


OUT_DIR = "../figures"
CURR_DIR = "figures_generation"
RESULTS_DIR = "../sim_results/effects_of_lambda"

# Load simulation source code
source_dir = "../src"
sys.path.insert(0, source_dir)
from simulations import get_peak_day

### Load simulation results ###
totals_df = pd.read_csv(os.path.join(RESULTS_DIR, "total_infected.csv"))
by_day_df = pd.read_csv(os.path.join(RESULTS_DIR, "daily_infected.csv"))

less_combined = by_day_df[
    (by_day_df.group == "combined") & (by_day_df["lambda"].isin([1, 2, 3, 4]))
].copy()
less_mis = by_day_df[
    (by_day_df.group == "misinformed") & (by_day_df["lambda"].isin([1, 2, 3, 4]))
].copy()
less_ord = by_day_df[
    (by_day_df.group == "ordinary") & (by_day_df["lambda"].isin([1, 2, 3, 4]))
].copy()

In [2]:
less_combined

      day  lambda     value     group
2400    1     1.0  0.001000  combined
2401    2     1.0  0.001100  combined
2402    3     1.0  0.001209  combined
2403    4     1.0  0.001330  combined
2404    5     1.0  0.001462  combined
...   ...     ...       ...       ...
3495   96     3.0  0.000003  combined
3496   97     3.0  0.000002  combined
3497   98     3.0  0.000002  combined
3498   99     3.0  0.000002  combined
3499  100     3.0  0.000001  combined

[300 rows x 4 columns]

In [3]:
y_buffer = 0.02
peaks_dict = {
    "combined": {
        "x": get_peak_day(less_combined["value"]),
        "y": max(less_combined["value"]) + y_buffer,
    },
    "misinformed": {
        "x": get_peak_day(less_mis["value"]),
        "y": max(less_mis["value"]) + y_buffer,
    },
    "ordinary": {
        "x": get_peak_day(less_ord["value"]),
        "y": max(less_ord["value"]) + y_buffer,
    },
}

In [4]:
peaks_dict

{'combined': {'x': 222, 'y': 0.29025489518645964},
 'misinformed': {'x': 222, 'y': 0.1932774890004009},
 'ordinary': {'x': 224, 'y': 0.1258638887103357}}

In [6]:
less_combined

      day  lambda     value     group
2400    1     1.0  0.001000  combined
2401    2     1.0  0.001100  combined
2402    3     1.0  0.001209  combined
2403    4     1.0  0.001330  combined
2404    5     1.0  0.001462  combined
...   ...     ...       ...       ...
3495   96     3.0  0.000003  combined
3496   97     3.0  0.000002  combined
3497   98     3.0  0.000002  combined
3498   99     3.0  0.000002  combined
3499  100     3.0  0.000001  combined

[300 rows x 4 columns]